%table.table.table-striped
  %thead
    %th Rank
    %th Email
    %th Points
  %tbody
    - @users.each_with_index do |user, index|
      %tr
        %td= index + 1
        %td
          = user.name
          - if current_user == user
            %i.icon-star.icon-white
        %td= user.points