%table.table.table-striped
  %thead
    %th Rank
    %th Email
    %th Points
  %tbody
    - rank = 1
    - @grouped_users.each_with_index do |users|
      - users[1].sort_by(&:name).each_with_index do |user, index|
        %tr
          %td
            = index == 0 ? rank : "-"
            - if current_user == user
              %i.icon-hand-right
          %td= user.name
          %td
            %b= index == 0 ? users[0] : ""#points
          - rank += 1