- if @user.errors.any?
  %ul.alert.alert-error
    - @user.errors.full_messages.each do |e|
      %li= e
%form.well(action="/sign_up" method="post")
  %label(for="email")
    Email:
    %input#username(type="text" name="email")
  %label(for="password")
    Password:
    %input#password(type="password" name="password")
  %label(for="password_confirmation")
    Confirm Password:
    %input#password(type="password" name="password_confirmation")
  %br
  %input.btn.btn-large(type="submit" value="Sign Up")
